        </div><!--page content end-->
        <!--footer-->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-10 col-md-4 col-xl-3 footer-contacts-wrapper">
                        <a href="/" class="footer-logo"><img src="assets/images/logo.svg"></a>
                        <div class="footer-contacts">
                            <a href="tel:74952280757" class="a-red">+7 (495) 228 07 57</a>
                            <a href="mailto:info@edaslawfirm.ru" class="a-red">info@edaslawfirm.ru</a>
                            <div class="address">г. Москва, 1-й Голутвинский переулок 1,БЦ «Домус»</div>
                        </div>
                        <a href="#" class="link link-next">Показать на карте</a>
                    </div>
                    <div class="col-12 col-md-6 col-xl-5 ml-auto">
                        <a href="#" class="footer-link-featured">Практика</a>
                        <ul class="footer-links-secondary">
                            <li><a href="#" class="footer-link">Корпоративное право, cлияния и поглощения</a></li>
                            <li><a href="#" class="footer-link">Антимонопольное регулирование</a></li>
                            <li><a href="#" class="footer-link">Недвижимость и землепользование</a></li>
                            <li><a href="#" class="footer-link">Налогообложение и валютное регулирование</a></li>
                            <li><a href="#" class="footer-link">Банкротство</a></li>
                            <li><a href="#" class="footer-link">Регулирование международной торговли</a></li>
                            <li><a href="#" class="footer-link">Разрешение споров</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-4 col-xl-2">
                        <ul class="footer-links-primary">
                            <li><a href="about.html" class="footer-link-primary">О бюро</a></li>
                            <li><a href="team.html" class="footer-link-primary">Команда</a></li>
                            <li><a href="press.html" class="footer-link-primary">Пресс-центр</a></li>
                            <li><a href="publications.html" class="footer-link-primary">Публикации</a></li>
                            <li><a href="contacts.html" class="footer-link-primary">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="footer-text">© 2019 ЭДАС. Все права защищены</div>
                        <div class="footer-text">Разработано в <a href="#" class="link-agency">Casta Agency</a></div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="assets/custom/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
        <script src="assets/custom/wow.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>